.card {
  background: white;
  margin: 1em 0.5em;
  padding: 1em 1.5em;
  border: 4px solid teal;
  border-radius: 1em;
  color: teal;
}

.cancel-btn {
  width: 100%;
  background: teal;
  color: white;
  margin-top: 1em;
  height: 2em;
  font-size: 1em;
}

.reservation-name {
  font-weight: bold;
}

.reservation-category {
  line-height: 2;
}
